html {
    position: relative;
    min-height: 100vh;
    height: 100vh;
}

body {
    margin: 0;
    background-color: #303841;
    color: #eeeeee;
    font-family: 'Open Sans', serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #f6c90e;
    font-size: 7vh;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #f6c90e;
    text-decoration: none;
}


/* ---- begin navbar ---- */

.navbar ul {
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6c90e;
    color: #303841;
    position: fixed;
    top: 0;
    width: 100%;
    /*border-bottom: 5px solid #eeeeee;*/
}

.navbar li {
    float: right;
    
}

.navbar li a {
    transition: .3s;
    color: #303841;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    background-color: #3a4750;
    color: #eeeeee;
}

.navbar .active {
    background-color: #eeeeee;
}
/* ---- end navbar ---- */

.main-container {
    min-height: 50vh;;
    padding-top: 50px;
}


.main-container a:hover {
    text-decoration: underline;
}

.hero-image-bg {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    
    
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(246,201,14,1) 100%);
    /*22c1c3*/
    /* Set a specific height */
    height: 75vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.hero-image {
    background-image: url('/images/heroimg.png');
    height: 83vh;
  
    /* Position and center the image to scale nicely on all screens */

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -60%);
    color: #3a4750;
}

.hero-text h1 {
    font-weight: bolder;
    font-size: 12vh;
    color: #eeeeee;
    margin-bottom: 0;
    line-height: 12vh;
    text-align: left;
}

.hero-text p {
    font-weight: bold;
    font-size: 3vh;
}

.link-button {
    padding: 15px 35px;
    color: #303841;
    background-color: #f6c90e;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;
}

.link-button:hover {
    background-color: #3a4750;
    color: #eeeeee;
    text-decoration: none;
}

.footer {
    clear:both;
    position: relative;
    /*top: 50vh;*/
    bottom: 0%;
    /*border-top: 5px solid #eeeeee;*/
    padding-top: 10px;
    margin:0;
    margin-top: 10vh;
    background-color: #3a4750;
    color: #eeeeee;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.footer li {
    padding: 2px;
}

.footer p {
    font-size: 13px;
    margin-top: 5px;
    padding-bottom: 10px;
    color:#8e9da8;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage-info {
    padding: 5vw;
    padding-top: 2vw;
}

.homepage-info-image {
    width:50vw;
    float:right;
    margin-left:3vw;
}